<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">


<head>  
  <title><%- title %></title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style_B.css' />
  <link rel='stylesheet' href='/stylesheets/new_style_B.css' />
  <link rel='stylesheet' href='/stylesheets/button_B.css' />
</head>

<body onload="rel()">
<header>
  <div class="header_area">
    <div class="header_block">
      <div class="header_box">
        <div class="box">
          <h1><%- title %></h1>
          <img src="images/logomesse.png" alt="" class="img">
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="contents_wrap">
      <div class="contents_area">
          <div class="content_block">