body {
    margin: 0;
    padding: 0;
    font-family: 14px Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #002b49;
  }
  
  /* ヘッダー */
  .header_area {
    position: fixed; /* 固定 */
    top: 0; /* 一番上に表示 */
    width: 100%; /* 中央に表示 */
    background: #ffffff;
  }
  .header_area:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(#cb2c30), to(#78aa00));
    background-image: -webkit-linear-gradient(right, #cb2c30 0%, #ef9600 50%, #78aa00 100%);
    background-image: linear-gradient(to left, #cb2c30 0%, #ef9600 50%, #78aa00 100%);
  }
  .header_block {
    background: #ffffff;
  }
  .header_box {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* メイン */
  .contents_area {
    width: 1200px;
    overflow: auto; /* スクロールする範囲を制御 */
    margin: 0 auto;
    padding: 70px 0 100px; /* コンテンツ上下のスペース */
  }
  .content_block {
    padding: 0px 0px;
    background-color: #ffffff;
  }
  
  /* フッター */
  .footer_area {
    position: fixed; /* 固定 */
    bottom: 0; /* 一番下に表示 */
    width: 100%; /* 中央に表示 */
  }
  .footer_area:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(#cb2c30), to(#78aa00));
    background-image: -webkit-linear-gradient(right, #cb2c30 0%, #ef9600 50%, #78aa00 100%);
    background-image: linear-gradient(to left, #cb2c30 0%, #ef9600 50%, #78aa00 100%);
  }
  .footer_block {
    background: #ffffff;
  }
  .footer_box {
    width: 1200px;
    margin: 0 auto;
    margin-top: 6px;
    text-align: center;
  }
  
  /* IE6 */
  html,
  body {
    _height: 100%;
    _overflow: hidden;
  }
  .header_area,
  .footer_area {
    _position: absolute;
  }
  .contents_wrap {
    _width: 100%;
    _height: 100%;
    _overflow: auto;
  }
  
  img {
    position: absolute;
    height: 35px;
    right: 3px;
    top: 0px;
  }
  
  h1 { /* タイトル */
    margin: 10px 5px;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
  }
  
  h2 { /* 期間 */
    margin: 10px 0 15px 0; /* 上 右 下 左 */
    color: #78aa00;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  /* ナビ */
  nav {
    margin: 0 auto 0 0; /* 上 右 下 左 */
    color: #78aa00;
  }
  ul { 
    list-style: none;
    margin: 0;
    display: flex;
    background: #ffffff;
  }
  ul.top{
    background-image: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#77aa005e));
    background-image: -webkit-linear-gradient(right, #ffffff 0%, #77aa005e 100%);
    background-image: linear-gradient(to left, #ffffff 0%, #77aa005e 100%);
  }
  ul.bottom{
    background-image: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#ef96005e));
    background-image: -webkit-linear-gradient(right, #ffffff 0%, #ef96005e 100%);
    background-image: linear-gradient(to left, #ffffff 0%, #ef96005e 100%);
  }
  li {
    margin: auto 15px auto 15px; /* 上 右 下 左 */
    font-size: 20px;
    font-weight: bold;
  }
  h3 { /* 現場所 */
    margin: auto 15px auto 15px; /* 上 右 下 左 */
    color: #cb2c30;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* 表 */
  table {
    margin: 0px auto;
    margin-top: 3px;
    padding: 0;
    width: 100%; /* 中央に表示 */
    border-radius: 0px; /* 角の丸み */
    border-spacing: 0px; /* セルの間隔 */
  }
  th,
  td {
    text-align: center;
    background: #ffffff;
    margin: 0;
    padding: 2px;
  }
  th {
    margin-top: 10px;
    background: #002b49;
    color: #ffffff;
    border-left: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
  }
  table th:last-child{
    border-right: 2px solid #cccccc;
  }
  td {
    border-left: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
  }
  td.first{
    border-bottom: 2px solid #002b49;
  }
  td:last-child{
    border-right: 2px solid #cccccc;
  }
  td.comment {
    text-align:left;
    padding-left: 7px;
    border-bottom: 2px solid #002b49;
  }
  
  textarea { 
    width: 500px; height:300px;
  }
  
  a {
    text-decoration: none;
    color: #4b4b4b;
  }
  p {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    padding: 2px 0 2px 10px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#cb2c305e));
    background-image: -webkit-linear-gradient(right, #ffffff 0%, #cb2c305e 100%);
    background-image: linear-gradient(to left, #ffffff 0%, #cb2c305e 100%);
  }
  
  .d {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    padding: 2px 10px 2px 10px;
  }

  .f
  {
    text-align: center;
  }